body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  color: rgb(216, 23, 23);
  text-align: center;
}

header {
  padding: 80px 20px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

section {
  padding: 50px 20px;
}

.projects {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background: #1c1c1c;
  padding: 20px;
  border-radius: 15px;
  width: 200px;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.skills span {
  background: #444;
  padding: 8px 15px;
  margin: 5px;
  display: inline-block;
  border-radius: 15px;
}